{{#if siteSettings.topic_view_count_control_enabled}}
  {{#if context.currentUser.admin}}
    <div class="topic-view-count-control" data-topic-id="{{context.topic.id}}">
      {{#if context.topic.use_custom_view_count}}
        <button class="btn-icon view-count-edit-btn" 
                title="{{i18n 'view_count_control.disable_custom'}}" 
                onclick="editViewCount({{context.topic.id}})">
          <i class="d-icon d-icon-eye"></i>
          <span class="btn-text">{{context.topic.custom_view_count}}</span>
        </button>
      {{else}}
        <button class="btn-icon view-count-edit-btn" 
                title="{{i18n 'view_count_control.enable_custom'}}" 
                onclick="editViewCount({{context.topic.id}})">
          <i class="d-icon d-icon-edit"></i>
          <span class="btn-text">{{i18n 'view_count_control.edit_view_count'}}</span>
        </button>
      {{/if}}
    </div>
  {{else if context.currentUser.staff}}
    {{#if siteSettings.view_count_staff_only}}
      <div class="topic-view-count-control" data-topic-id="{{context.topic.id}}">
        {{#if context.topic.use_custom_view_count}}
          <button class="btn-icon view-count-edit-btn" 
                  title="{{i18n 'view_count_control.disable_custom'}}" 
                  onclick="editViewCount({{context.topic.id}})">
            <i class="d-icon d-icon-eye"></i>
            <span class="btn-text">{{context.topic.custom_view_count}}</span>
          </button>
        {{else}}
          <button class="btn-icon view-count-edit-btn" 
                  title="{{i18n 'view_count_control.enable_custom'}}" 
                  onclick="editViewCount({{context.topic.id}})">
            <i class="d-icon d-icon-edit"></i>
            <span class="btn-text">{{i18n 'view_count_control.edit_view_count'}}</span>
          </button>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
{{/if}} 